<div class="action-modal small" data-reveal>    

	<p translate>IMPRESSUM_1</p>

	<p><span translate>IMPRESSUM_2</span>:</p>

	<p translate>CONTACT_1</p>

	<p>
		Helpdesk:
		T +43-1-4277-140 60 
		T +43-1-4277-15170 		
		eMail: <a href="mailto:support.phaidra@univie.ac.at">support.phaidra@univie.ac.at</a>
		<br/>
		Web: <a target="_blank" href="http://www.ub.univie.ac.at">www.ub.univie.ac.at</a>
	</p>

	<p translate>IMPRESSUM_3</p>

	<p>© Copyright UB</p>

	<a class="close-reveal-modal" aria-label="Close" ng-click="ok()">&#215;</a>
</div>