body {
  padding-top: 0px;
}

.phaidra-logo {
 height: 30px;
}

.reveal-modal.in {
  margin-left: -20%;
  width: 40%;
}

.footer {
  display: block;
}

.username {
  position: fixed;
  display: block !important;
  right: 130px;
  top: 30px;
  color: #95a5a6;
}

#logout-button {
  display: inline-block;
}

/* Angular-Foundation fade hack */

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}

.reveal-modal.fade {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.reveal-modal.in {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.reveal-modal-bg.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.reveal-modal-bg.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.tabs {  
  font-size: 1.5rem;  
  margin-top: 2rem;
  margin-left: 2rem;
  width: 80%;
}

.tabs-content {
  display: inline-block;
}

.list-date {
  color: #e7e5e3;
  font-size: 0.9rem;
}

table {
  border: none;
}

tr {
  border-bottom: 1px solid rgb(66, 72, 76);
  
}

table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {
  color: #e7e5e3;
}

.muted {
  color: #999;
}

.tabs dd {
  border-bottom: none;
}

.tabs dd > a {
  background: #4f5a64;  
}

.tabs dd > a:hover {
  background: #384148;
  border-bottom: 3px solid #384148;
}

.tabs dd.active a {
  background: #4f5a64;
  border-bottom: 3px solid #384148;
}

.tabs dd.active h2 {
  
  color: white;
  font-weight: bold;
}

table thead, table tfoot {
  background: none;
}

.footer-margin {
  margin-bottom: 50px;
}

label {
  color: #dbd9d5;
}

#spin {
  position: relative;
  margin-left: 10px;
  width: 45px;
  height: 45px;
}

.alert-box.danger  {
    background-color: #e82652;
    border-color: #d21642;
    color: #ffffff;
}

.alert-box .close  {
    cursor: pointer;
}

.ng-hide-add, .ng-hide-remove {
    display: block !important; 
}

.fade {  
    position: absolute;
    opacity: 1;
    width: 100%;
}

.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}

.content-margin {
  margin-top: 2rem;
}

.top-bar .top-bar-section .menu li {
    margin-left: 10px;
}

.permalink {
  color: #1a9dbc;
  font-weight: bold;
}

.title {
  color: #fff;
}

table tr th, table tr td {
  font-size: 1rem;
}

.listitem img {
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.listitem:hover img {
  opacity: 1;
}

.listitem {
  background: rgba(0, 0, 0, 0);
  -webkit-transition: background-color 0.3s ease-out;
  -moz-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.listitem:hover {
  background: rgba(0, 0, 0, 0.2);
}

.listitem-selected {
  background: rgba(0, 0, 0, 0.2);
}

.pagination-row {
  margin-top: 10px;
  line-height: 1.6;
}

.postfix.button {    
    line-height: 2.4rem;    
}

.flag {
  color: #999;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.flag-selected {
  color: #1a9dbc;
  opacity: 1;
}

.flag-selection {
  color: #999;
  font-size: 1rem;
  opacity: 0.7;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.flag-selection-active {
  color: #1a9dbc;
  font-size: 1rem;
  opacity: 1;
}

ul.pagination li a {
  color: #e7e5e3;
  cursor: pointer;
}

ul.pagination li:hover a, ul.pagination li a:focus {
    background: #384148;
}

.f-dropdown li a {
  background-color: #1a9dbc;
}

.f-dropdown li a:hover {
  background-color: #1688a2;
}

.f-dropdown li .info {
   background-color: #6792a0;
}

.f-dropdown li .info:hover {
   background-color: #6792a0;
}

.th-sorted {
  color: #e7e5e3;
  background-color: #1688a2;
}

#display-slideshow, #sidebar-toggle, #logout-button {    
    padding: 0.8rem 0.5rem;    
}

@font-face{
  font-family:'colfax';
  src:url('fonts/ColfaxWebLight.eot');
  src:url('fonts/ChronoWebLight.eot?#iefix') format('embedded-opentype'), url('fonts/ChronoWebLight.woff') format('woff'), url('fonts/ChronoWebLight.ttf') format('truetype');
  font-weight:400;
  font-style:normal;
}
@font-face{
  font-family:'colfax';
  src:url('fonts/ChronoWebLight.eot');
  src:url('fonts/ChronoWebLight.eot?#iefix') format('embedded-opentype'), url('fonts/ChronoWebLight.woff') format('woff'), url('fonts/ChronoWebLight.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'colfax';
  src:url('fonts/ChronoWebLight.eot');
  src:url('fonts/ChronoWebLight.eot?#iefix') format('embedded-opentype'), url('fonts/ChronoWebLight.woff') format('woff'), url('fonts/ChronoWebLight.ttf') format('truetype');
  font-weight:300;
  font-style:normal;
}
 @font-face{
  font-family:'colfax';
  src:url('fonts/ChronoWebRegular.eot');
  src:url('fonts/ChronoWebRegular.eot?#iefix') format('embedded-opentype'), url('fonts/ChronoWebRegular.woff') format('woff'), url('fonts/ChronoWebRegular.ttf') format('truetype');
  font-weight:bold;
  font-style:normal;
}
@font-face{
  font-family:'picons';
  src:url('fonts/bioicons.eot');
  src:url('fonts/bioicons.eot?#iefix') format('embedded-opentype'), url('fonts/bioicons.woff') format('woff'), url('fonts/bioicons.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'icons';
  src:url('fonts/icons-webfont.eot');
  src:url('fonts/icons-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/icons-webfont.woff') format('woff'), url('fonts/icons-webfont.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}