<div class="row footer-margin content-margin" ng-hide="success">
  <div class="small-8 medium-6 large-6 small-centered columns">

    <h1 translate>DELETE</h1>

    <p translate>DELETE_TEXT</p>
    
    <h1 translate>OBJECTS</h1>

    <table class="table objectlist">      
      <tbody>
        <tr class="listitem" ng-repeat="o in getSelection()">             
          <td><a class="permalink" target="_blank" href="https://{{phaidratemp_baseurl}}/{{o.PID}}" title="https://{{phaidratemp_baseurl}}/{{o.PID}}" alt="https://{{phaidratemp_baseurl}}/{{o.PID}}">https://{{phaidratemp_baseurl}}/{{o.PID}}</a></td>
        </tr>
      </tbody>
    </table>

    <h1>{{progress_message}}</h1>

    <form>
      <div class="row">
        <div class="large-4 columns left">      
            <a href="#" translate>BACK_BUTTON</a>
        </div>
        <div class="large-4 columns right">      
          <input id="checkbox1" type="checkbox" ng-model="agreed"><label for="checkbox1">I agree</label>          
          <button ng-disabled="!agreed" ng-click="startDelete(getSelection())" translate>DELETE_BUTTON</button>
        </div>
      </div>
    </form>

    <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">Error deleting objects: {{alert.msg}}</alert>

  </div>
</div>

<div class="row footer-margin content-margin" ng-show="success">
  <div class="small-8 medium-6 large-6 small-centered columns">

    <h1 translate>DELETE_SUCCESS</h1>
    <p><a href="#">Back to my objects</a></p>

  </div>
</div>